@import url(radio.css);

input, textarea{
    appearance: none;
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    width: 100%;
    border-radius: .5rem;
    padding: .8125rem 1rem;
    font: var(--text-md);
    font-weight: 400;
    color: var(--input-placeholder);
    resize: none;

    &::placeholder{
        color: var(--input-placeholder);
    }
}

label{
    font: var(--text-sm);
    display: flex;
    margin-bottom: .75rem;
}

.about-event .grid{
    gap: 1rem;
}

input[type="datetime-local"]{
    &::-webkit-calendar-picker-indicator{
        opacity: 0;
    }
}
