input, textarea{
    appearance: none;
    background-color: var(--input-base);
    
    width: 100%;
    border-radius: .5rem;
    padding: .8125rem 1rem;
    font: var(--text-md);
    font-weight: 400;
    color: var(--input-placeholder);
    resize: none;

    border: 1px solid transparent;
    outline: 1px solid var(--input-stroke);

    &::placeholder{
        color: var(--input-placeholder);
    }
}

label{
    font: var(--text-sm);
    display: flex;
    margin-bottom: .75rem;
}

input:focus,
textarea:focus{
    border-color: var(--brand-light);
    outline-offset: .1px;
}

input[type="datetime-local"]{
    &::-webkit-calendar-picker-indicator{
        opacity: 0;
    }
}

input{
    &[required] + .error{
        display: flex;
        align-items: center;
        gap: .5rem;
        margin-top: .5rem;
        font: var(--text-xs);
        color: var(--feedback);
    }

    &:invalid{
        border-color: var(--feedback);
    }

    &:not(:focus):valid + .error{
        display: none;
    }
}