@import url(./fields/index.css);

form{
    margin-top: 2.5rem;
}

fieldset{
    border: none;
    display: grid;
    gap: 1rem;
}

fieldset + fieldset{
    margin-top: 3rem;
}

fieldset.customization > div.flex{
    margin-top: .75rem;
}

fieldset:last-of-type{
    margin-bottom: 3rem;
}

legend{
    display: flex;
    gap: .75rem;
    align-items: center;
    margin-bottom: 1.5rem;
}